.catagory-container {
  width: 500px;
}
.common-heading-style {
  font-size: 2.2rem;
}
.blog-details {
  width: 300px;
  margin-left: 570px;
  height: 62.5vh;
  font-size: 2rem;
}
.about-me-container {
  margin-left: 260px;
  margin-top: 30px;
  margin-bottom: 48px;
  width: 800px;
  gap: 2.5rem;
}
.footer-fixed {
  border-top: 1.5px solid #b7aaaa;
}
